@font-face {
    font-family: "pragmatica-web";
    src: url("../fonts/ufonts.com_pragmatica_condensed.ttf");
}

@font-face {
    font-family: "tes";
    src: url("../fonts/Planewalker.ttf");
}

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

body{
    font-family: "pragmatica-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #1e1e1e;
    color: #fff;
    background-repeat: no-repeat;
    font-size: 14px;
    cursor: default;
    padding-top: 70px;
    -webkit-font-smoothing: antialiased;
    background: url(../images/elf-breton-v2-optimized-964a9e056a3a7bf075e15fb219e07136.jpg) center 40px no-repeat,url(../images/bg-body-33ef5ef2f94081faf9f775c5f03cc998.png) top center repeat-y,#7b6f59;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    min-height: 60px;
    background-color: #000000;
    color: #eeeeee;
}

#wrap > .container {
    padding: 20px 50px 0;
}
.container .credit {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

code {
    font-size: 80%;

}

h3, .h3 {
    font-size: 24px;
}

.title3{
color: #b8a779;
font-weight: 700;
}

.title2{
    font-family: "tes",sans-serif;
    font-style:normal;
    font-weight: bolder;
    height: 48px;
    line-height: 48px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #4e4227;
    background: url("../images/btn-left.png") top left no-repeat,url("../images/btn-right.png") top right no-repeat;
    padding: 0 20px;
    font-size: 25px;
    text-align: center;
    margin:0;
    width:100%;
}
.footer-title{
    font-family: "tes",sans-serif;
    font-style:normal;
    font-weight: bolder;
    color: #b8a779;
    background: url("../images/btn-left.png") top left no-repeat,url("../images/btn-right.png") top right no-repeat;
    height: 48px;
    line-height: 48px;
    font-size:25px;
    text-align: center;
    position:relative;
    margin-top:10px;
    margin-bottom:0 ;
}

.content-container{
    width: 100%;
    margin: 0 auto;
    margin-top:20px;
    padding: 20px;
    color: black;
    background: rgba(255,249,235,0.6);
    z-index: 2;
    position: relative;

}

a,a:hover, a.visited{
    text-decoration: none;
    color: #b8a779;
    cursor: pointer;
}
.me{
    font-weight: 700;
}

.main-logo{}

.navbar-brand{
    font-family: "tes";
    font-size: 30px;
}

.item{
    display:block;
    padding:0;
}

#main-item-1{
    background-image: url("../images/ss.png") ;
    background-size:contain;
}

#main-item-2{
    background-image: url("../images/stream.jpg") ;
    background-size:contain;
}

#main-item-3{
    background-image: url("../images/ss.png") ;
    background-size:contain;
}

.item div{

    color:black;
    font-size: 25px;
    font-weight: bold;
    background: rgba(255,249,235,0.6);
    text-align: center;
    font-family: "tes";
    padding-top:5px;
}

.item-stream{
    display:block;
    background-color:#413723;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
}

.item-stream:hover{
    background: rgba(0,0,0,0.8);
}

.title4{
    text-transform: uppercase;
    color: #413723;
    border-bottom: 1px solid #948159;
    padding-bottom: 15px;
    font-size:20px;
    font-weight: bold;
}

.undertext{
    text-transform: uppercase;
    font-size:14px;
    color: #666666;
}

.thumbnail{
    width:auto !important;
    max-width: 100%;
    max-height:240px;

}

.link-thumb{
    position:relative;
    display:block;
    height:250px;
}

.image-title{
    position:absolute;
    width:100%;
    top:0;
    left:0;
    text-transform: uppercase;
    padding:10px;
    text-align: center;
    background: rgba(255,249,235,0.6);
    color:black;

}

.single-image{
    width:100%;
}

.arrows{
    width:100%;
    cursor: pointer;
}

.margin-top10{
    margin-top:10px;
}
.margin-bot10{
    margin-bottom:10px;
}


.stream-text{
    text-transform: uppercase;
    font-size:20px;
}

.small-stream-text{
    text-transform: uppercase;
    font-size:10px;
}

.float-r{
    float:right;
}

.float-l{
    float:left;
}

.btn-warning{
    background-color: #948159;
    border-color:#948159;
}

.preview{
    max-width:95%;
    max-height:200px;
    margin-bottom: 20px;
}

.eso-label{
    text-transform: uppercase;
    color: #4e4227;
    font-weight: bold;
}

.eso-tab{
    text-transform: uppercase;
    background-color: #4e4227;
    color:white;
    font-weight: bold;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background-color: #4e4227;
    border:none;
}

.nav > li > a, .nav > li > a {
    text-decoration: none;
    background-color: #333333;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #413723;
}

.login-form{
    width:70%;
    margin:auto;
    margin-top:150px;
}

.modal-content{
    border:none;
    box-shadow: none;
    max-width: 400px;
    height: 500px;
    background:none;
    background-image:url("../images/loginbgl.png");
    background-repeat: no-repeat;
}

.login-input{
    background-color:#413723;
    color: #eeeeee;
}

.login-input:focus{
    border-color:#222222;
}

.stream-image{
    width:95px;
    height:95px;
    border: 2px solid  #4e4227;
}

.green-text{
    color: green !important;
}

.online{
    color:red;
}
.panel-heading{
    background-color:#413723 !important;
    color:white !important;
    border:none !important;
}

.panel{
    background: none;
    border-color:transparent;
}

.panel-body{

    background:none ;

    border:none !important;
}

.panel-heading{padding:0;}

.paddingtrick20{
   display:block;
    width:100%;
    height:20px;
}

.padding-top20 {
    padding-top: 20px;
}

.accordion-toggle{
    width:100% !important;
}

.panel-title a, .panel-title a span {
    display:block;
    width:100%;
}

.panel-title a span {
    padding:10px;
}

.no-padding{
    padding:0;
}