
<div class="main-logo text-center">
    <img src="images/eso.png"/>
</div>

<div class="content-container">
  <h3 class="title2">Guild of Guilds!</h3>
</div>

<div class="content-container">
   <div class="row">
       <div class="col-sm-4">
           <a href="#/pictures"  id="main-item-1" class="item"><div>Guild Pictures</div></a>
       </div>
       <div class="col-sm-4">
           <a href="#/streams"  id="main-item-2" class="item"><div>Guild Streams</div></a>
       </div>
       <div class="col-sm-4">
           <a href="#/members"  id="main-item-3" class="item"><div>Guild Info</div></a>
       </div>
       <script>
           var cw = $('.item').width();
           $('.item').css({'height':cw+'px'});
       </script>
   </div>
</div>

