
<div class="content-container">
    <h3 class="title2">Guild Pictures</h3>
</div>

<div class="content-container">
    <div class="row">
        <div class="col-xs-12">
            <div class="title4">Upload a picture</div>
            <div class="clearfix undertext margin-bot10">
                <span class="float-l">By {{user.name}}</span>
                <a class="float-r btn btn-warning" ng-if="user.logged" ng-click="upload(uplink,uptitle)"> Submit this picture </a>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="alert alert-danger hidden" id="picture-alert">You must have a valid picture link and title.</div>
        </div>

        <div class="col-xs-12" ng-if="user.logged == false">
            <div class="alert alert-danger">You must be logged in to use this feature.</div>
        </div>
        <div  ng-if="user.logged">

            <div class="col-sm-4">
                <img src="{{uplink}}" class="preview" />
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <label class="eso-label">Image URL</label>
                    <input type="text" class="form-control" ng-model="uplink" placeholder="http://www.a.com/pic.png" id="uplink" />
                </div>
                <div class="form-group">
                    <label  class="eso-label">Image Title</label>
                    <input type="text" class="form-control" ng-model="uptitle" placeholder="The Victory of Zupa"  id="uptitle"/>
                </div>

            </div>


            <div class="col-xs-12 eso-label">Only external images are allowed. You can NOT upload pictures to the website. You'll need another hosting server to host the picture. (eg imgur.com)  </div>
        </div>



    </div>
</div>

